<h1>Your are now Booked!</h1>

<p>Hi <%= @passenger.name %></p>

<p>Your booking for flight <%= @passenger.bookings.last.flight_id %> from <%= @from_location %> to <%= @to_location %>, has been successful.</p>

<p>Please ensure to arrive early at the aiport before your flight, it would be a shame if you were to miss it!</p>

<p>Thank you for choosing to travel with us and we hope you have a great journey!</p>