@import "bootstrap-sprockets";
@import "bootstrap";
* {
	box-sizing: border-box;
}

body{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
}


/* header */
.logo{
	font-size: 40px;
	padding: 25px 15px;
	font-weight: 400;
}

.navbar-default{
	background-color: #2980B9;
	height: 75px;
	border-radius: 0;
	border: 0;
}

.navbar-brand.logo{
	color: #fff;
}


/* forms */

.form-control{
	background-color: transparent;
}


/* index page */
.search{
	margin-top: 30px;
	margin-bottom: 30px;
}

.search-results{
	margin-bottom: 50px;
}

h3{
	border-bottom: 1px solid #000;
	line-height: 1.5em;
	margin-top: 0
}





/* footer */

html{
	position: relative;
	min-height: 100%;
	background-color: #eee;
}

body{
	margin-bottom: 70px;
	background-color: #eee;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 70px;
  background-color: #4e5d6c;
}

.copy{
	margin-top: 35px;
	color: #fff;
}

.contact ul li{
	display: inline-block;
	font-size: 25px;
	padding-right: 10px;
	color: #000;

}

.contact ul{
	padding-left: 0;
	margin-bottom: 0;
}

.contact h4{
	margin-bottom: 0;
}

.contact, .contact ul li a{
	color: #ebebeb;
}

.contact ul li a:hover{
	color:#2980B9;
}





